* {
    margin: 0;
    padding: 0;
}

main,
header {
    width: 100%;
}

/* Banner Section */
header {
    background-image: url('./images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 525px;
    text-align: right;
    margin-right: 160px;
    padding-top: 200px;
}

.heading-one {
    color: #FFF;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    font-style: normal;
    display: flex;
    margin-bottom: 24px;
}

.para-one {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 25px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #FFF;
    padding: 10px;
    color: #005FAC;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}

/* Main Section */
.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 160px;
    padding-top: 200px; */
    position: center;
    padding: 120px 300px;
    margin-bottom: 24px;
}

ul>li {
    list-style: none;
    line-height: 30px;
    font-size: 18px;
}

.text-container {
    display: block;
    justify-content: space-around;
    color: black;
    margin-top: 100px;
    
}

.heading-two {
    display: flex;
    width: 288px;
    flex-direction: column;
    color: #151414;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.para-two {
    display: flex;
    width: 416px;
    flex-direction: column;
    flex-shrink: 0;
    color: #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
}

.fa-solid {
    color: #16D887;
    margin-right: 5px;
}

/* main section end */

.my-plan-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 200px 0px 200px;
    align-items: center;
    vertical-align: middle;
}

.header-three {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}

.heading-four {
    color: #151414;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
}

.my-plan-list {
    align-items: center;
}

.dev-para {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.icon-pic1{
    margin-left: 80px;
}
.icon-pic2{
    margin-left: 20px;
}
.icon-pic3{
    margin-left: 60px;
}
.icon-pic4{
    margin-left: 20px;
}